.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.carrossel {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(10, 50vw);
  grid-template-rows: 1fr;
  overflow: scroll;
  padding: 0 15px;
  scroll-padding: 1rem;
  scroll-snap-type: both mandatory;
  width: 320px;
}

.containerItem {
  width: 150px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.footer {
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}

body {
  height: 1080px;
  width: 1900px;
}

.recipeDetailPhoto {
  height: 50px;
  width: 50px;
}

.cardContainer {
  display: flex;
  flex-basis: 100%;
}

.startButton {
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 10%;
}

.cardName {
  height: 50px;
  margin-top: 50%;
  text-align: center;
  width: 150px;
}

.cardImage {
  width: 150px;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
